*{
    margin: 0;
    padding: 0;
}

.btn-size{
    height: 40px;
    width: 50px;
}
.input-size{
    height: 50px;
    background-color: white;
    color: black;
    font-size: 40px;
}
.bg-hero{
    background: linear-gradient(90deg, rgba(9,98,121,1) 10%, rgba(0,212,255,1) 100%);
}